.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#8db64e;
    padding: 10px;
    .roomname{
        color: aliceblue;
    }
    .navbutton{
        margin-right: 145px;
    }
   
}